@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto', sans-serif;
        min-width: 320px;
    }
}

@layer components {
    .container {
        @apply max-w-[1180px];
    }
}

@font-face {
    font-family: 'Geometria';
    font-display: swap;
    src: url('../fonts/geometria_bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
