.text {
    @apply text-base leading-5 text-green lg:text-lg lg:leading-[22px];
}
.title {
    @apply text-center font-['Cormorant_Infant'] text-2xl italic leading-7 text-green lg:text-4xl lg:leading-[45px];
}
.subtitle {
    @apply text-center font-['Tenor_Sans'] text-[22px] leading-[125%] text-green lg:text-2xl lg:leading-[30px];
}
.list__item {
    @apply font-['Tenor_Sans'] text-sm leading-4 text-green lg:text-base lg:leading-5;
}
.custom__block {
    @apply flex h-[120px] w-[120px] items-center justify-center overflow-hidden rounded-[50%] border-[1px] border-brown bg-[rgba(217,217,217,0.9)] text-center font-['Cormorant_Infant'] text-lg leading-[100%] text-brown lg:h-[170px] lg:w-[170px] lg:text-2xl lg:leading-6;
}
.subtitle2 {
    @apply text-center font-['ManegeDemo'] text-2xl font-light leading-7 text-green lg:text-4xl lg:leading-[45px];
}
.custom__btn {
    @apply inline-block w-[290px] rounded-[40px] bg-[rgba(217,217,217,0.9)] py-5 text-center font-['Cormorant_Infant'] text-2xl leading-[100%] text-brown;
}
.custom__container {
    @apply overflow-hidden px-[28px] xl:mx-auto xl:max-w-[1280px];
}
.mobile-menu {
    @apply invisible opacity-0;
}
.mobile-menu.active {
    @apply visible opacity-[1];
}
.swiper-wedding .swiper-pagination-bullet {
    @apply h-[14px] w-[14px] bg-[#d9d9d9] opacity-[1];
}
.swiper-reviews .swiper-pagination-bullet {
    @apply h-[14px] w-[14px] bg-[#d9d9d9] opacity-[1];
}
.advantage {
    @apply mt-[-36px] flex h-[277px] w-[225px] flex-col items-center justify-center gap-5 rounded-[169px] border-[8px] border-lightBrown bg-grey sm:mt-0 lg:m-[initial] lg:ml-[-48px] lg:h-[369px] lg:w-[300px];
}
.advantage p {
    @apply max-w-[181px] text-center font-['Cormorant_Infant'] text-lg leading-5 text-green;
}
.party {
    @apply left-4 rounded-[40px] bg-[rgba(255,255,255,0.5)] px-4 py-[14px] font-['Cormorant_Infant'] text-base text-brown xl:px-[24px] xl:py-[17px] xl:text-2xl;
}
.feast {
    @apply rounded-[40px] bg-[rgba(255,255,255,0.9)] px-4 py-3 font-['Cormorant_Infant'] text-base text-[#6D5E3C] lg:text-2xl;
}
.master-class {
    @apply relative w-full overflow-hidden rounded-[40px];
}
.creation {
    @apply left-4 rounded-[40px] bg-[rgba(255,255,255,0.5)] px-4 py-[14px] font-['Cormorant_Infant'] text-base text-brown xl:px-[34px] xl:py-[17px] xl:text-2xl;
}
