@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AvenirNextCyr';
    font-display: swap;
    src: url('../fonts/AvenirNextCyr-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,500&display=swap');

@layer base {
    html {
        font-family: 'AvenirNextCyr', system-ui, sans-serif;
    }
}
